.slide-appear {
  opacity: 0;
  transition: opacity 0.7s ease-in;
}

.slide-appear.slide-appear-active {
  opacity: 1;
}

// componentがCSSTransitionGroup Component以下に新たに追加されたとき
.slide-enter {
  max-height: 0;
  transition: all 0.3s ease-in;
}

.slide-enter.slide-enter-active {
  max-height: 1000px;
}

// componentがCSSTransitionGroup Component以下から削除されたとき
.slide-leave {
  max-height: 1000px;
  transition: all 0.3s ease-out;
}

.slide-leave.slide-leave-active {
  max-height: 0;
}
