.selectedItems {
  display: flex;
  align-items: center;
  padding-top: 35px;
  justify-content: center;

  @media (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  background: rgba(237, 237, 237, 1);
  background: -moz-linear-gradient(
    top,
    rgba(237, 237, 237, 1) 0%,
    rgba(246, 246, 246, 1) 6%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(237, 237, 237, 1)),
    color-stop(6%, rgba(246, 246, 246, 1)),
    color-stop(100%, rgba(255, 255, 255, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(237, 237, 237, 1) 0%,
    rgba(246, 246, 246, 1) 6%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(237, 237, 237, 1) 0%,
    rgba(246, 246, 246, 1) 6%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(237, 237, 237, 1) 0%,
    rgba(246, 246, 246, 1) 6%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(237, 237, 237, 1) 0%,
    rgba(246, 246, 246, 1) 6%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );

  span.item {
    text-transform: uppercase;
    background: #e0e0e0;
    font-size: 9px;
    border-radius: 10px;
    padding: 3px 13px;
    color: #66666682;
    letter-spacing: 2px;
    margin-left: 24px;
    margin-top: 5px;

    &:before {
      content: "X";
      display: block;
      width: 11px;
      color: #666;
      float: left;
      margin: 0 6px 0 0;
    }
  }

  &.divider {
    color: #666;
  }
}
